<!DOCTYPE html>

<head>

    <title>About page</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>Who we are?</h3>
        <p>
            Etiam libero nulla, pellentesque eu scelerisque nec, commodo sit amet ipsum. Maecenas aliquam auctor nunc,
            vitae feugiat urna malesuada eu. Etiam et augue lorem. Nunc ullamcorper dictum sem et convallis.
            Fusce nisl arcu, faucibus luctus fringilla et, accumsan vel sem. Nullam eget augue eget massa semper porta.
            Proin sodales ante eget justo fringilla, eu sollicitudin magna egestas. Curabitur pharetra magna neque, vel
            lacinia velit convallis eu.
        </p>
    </div>
    {{>footer}}
</body>

</html>