<!DOCTYPE html>

<head>

    <title>About page</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>We are Watson Airlines</p>
    </div>
    {{>footer}}
</body>

</html>