<!DOCTYPE html>

    <head>
        <title>Watson Airlines</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <h2>Use this site for:</h2>
            <h3>Checking the status of a specific flight:</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut vehicula augue. 
                Ut non lorem tellus. Donec egestas dui eu egestas imperdiet. Nullam nec feugiat risus, 
                et viverra nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            </p>
            <h3>Calculating the amount of food for your flight:</h3>
            <p>
                Vivamus risus ante, fringilla at convallis nec, egestas eget eros. 
                Ut porta, ex sodales rutrum interdum, ipsum velit posuere neque, eget mollis massa mi sed erat. 
            </p>

        </div>
        {{>footer}}
    </body>

</html>